/* most styling for the page is done here */

.hangman-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hangman-word {
  gap: 1vw;
  font-weight: "bold";
  font-size: 10vh;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.guess-letter {
  display: flex;
  justify-content: center;
  border-bottom: 5px solid black;
}

.letters-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hangman-letters {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  align-self: stretch;
  gap: 10px;
  margin-top: 20px;
}

.disabled {
  opacity: 0.5;
}

.win-lose {
  text-align: center;
  font-size: 10vh;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin-top: 20px;
}
